.screen-margin {
  margin: 0px 18px;
}
.friends-interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 27px 20px;
}
.friends-interface__title {
  font-size: 27px;
  font-weight: 500;
}
.fa-music {
  margin: 0px 23px;
}
.friends-position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friends-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dd99dd;
  color: rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 25px;
  border-radius: 13px;
}
.fa-info-circle,
.fa-chevron-right {
  color: rgba(0, 0, 0, 0.3);
}
.friends-name__title {
  margin-right: 10px;
  margin-left: 10px;
}
.firends-bar__avatar {
  display: flex;
  align-items: center;
}
.friends-bar__text {
  display: flex;
  flex-direction: column;
}
.friends-bar__avatar-pic-L {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.friends-bar__avatar-pic-S {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.friends-bar__avatar-name {
  margin-left: 12px;
  font-size: 24px;
  font-weight: 500;
}
.friends-bar__avatar-sub {
  padding-top: 10px;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.friends-channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  margin-bottom: 22px;
}
.friends-channel__title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 500;
}
.friends-channel__icon {
  color: rgba(0, 0, 0, 0.3);
}
.friends-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 18px;
}
.firends-bar__num {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 20px;
}
.friends-bar__end {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.friends-bar__pop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #ff6229;
  color: white;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 25px;
  box-sizing: border-box;
}
.friends-bar__time {
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.4);
}
.friends-interface__2 i {
  margin: 0px 10px;
}
.friends-interface__2 .fa-cog {
  position: relative;
}
.friens-bar__avater-box {
  display: flex;
  flex-direction: column;
}
.friends-bar__avatar-name2 {
  padding-top: 6px;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 500;
}
.mini-red-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff6229;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: rgb(221, 153, 221);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
